* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/* div{
  outline: 1px solid black;
} */

.figure-1 {
  outline: 1px solid black;
  height: 50vh;
  width: 20vw;
  z-index: 12;
}

.figure-2{
  outline: 1px solid purple;
  height: 30vh;
  width: 30vw;
  float: right;
  z-index: 13;
}

img{
  outline: 1px solid green;
  width: 70%;

}

.section-choose-img figure{
  height: 45vh;
  width: 85vw;
}

[draggable] {
  cursor: move;
}

