* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


img{
  outline: 1px solid green;
  width: 40%;
}

.section-choose-img figure{
  height: 45vh;
  width: 85vw;
}

[draggable] {
  cursor: move;
}

#box-destiny{
  height: 20vh;
  width: 20vw;
  outline: 1px solid green;
}

footer{
  background-color: #000000;
  color: #ffffff;
  position: fixed;
  bottom: 0;
  width: 100%;
}